<a href="https://colab.research.google.com/github/sidhansukeshri/REGISTRATION-NO.-RA2211042010032-PYTHON--BASICS-/blob/main/RA2211042010032.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.program to devide and print two numbers!

In [11]:
a=int(input("enter the 1st nunber:"))
b=int(input("enter the 2nd number:"))
print("Division :",a/b)

enter the 1st nunber:36
enter the 2nd number:9
Division : 4.0

2.program to divide and print two user inputs!

In [32]:
a=90
b=50
print("Division :",a/b)

Division : 1.8

3.program to subtract two numbers!

In [33]:
a=90
b=50
print("subtraction :",a-b)

subtraction : 40

4.program to check if the input number is double digit or not !

In [14]:
num=int(input("enter the number:"))
print("The number you entered is :",num)
if (num>99):
  print("The number is not double digit!")
elif (num<99):
  print("The number is double digit!")

enter the number:86
The number you entered is : 86
The number is double digit!

5.program to multiply two numbers!

In [15]:
a=90
b=50
print("multiplication :",a*b)

multiplication : 4500

6.program to print the sum of two numbers!

In [16]:
a=10
b=50
c=a=b
print("sum=",c)

sum= 50

7.program to print sum of two floting nmbers!

In [17]:
a=float(10)
b=float(50)
c=a=b
print("sum=",c)

sum= 50.0

8.program to print the multiplication of two floation numbers !

In [18]:
a=float(90)
b=float(50)
print("multiplication :",a*b)

multiplication : 4500.0

9.program to print the division of two numbers !

In [19]:
a=float(90)
b=float(50)
print("multiplication :",a/b)

multiplication : 1.8

10.program to multiply and print the user provided input !

In [21]:
a=float(input("enter the 1st nunber:"))
b=float(input("enter the 2nd nunber:"))
print("multiplication :",a*b)

enter the 1st nunber:38
enter the 2nd nunber:60
multiplication : 2280.0

11.program to divide and print the user provided input !

In [23]:
a=float(input("enter the 1st nunber:"))
b=float(input("enter the 2nd nunber:"))
print("divide :",a/b)

enter the 1st nunber:26
enter the 2nd nunber:78
divide : 0.3333333333333333

12.program to floor divide and print the user provided input !

In [26]:
a=float(input("enter the 1st nunber:"))
b=float(input("enter the 2nd nunber:"))
print("divide :",a//b)

enter the 1st nunber:169
enter the 2nd nunber:64
divide : 2.0

13.printing lists elements !

In [31]:
list=['sidhansu','sankalp','sanya','apurv']
print (list)
print (list[0:])
print (list[1:3])
print (list[0])
print (list*2)

['sidhansu', 'sankalp', 'sanya', 'apurv']
['sidhansu', 'sankalp', 'sanya', 'apurv']
['sankalp', 'sanya']
sidhansu
['sidhansu', 'sankalp', 'sanya', 'apurv', 'sidhansu', 'sankalp', 'sanya', 'apurv']

14.check if person is eligible for voating or not !

In [36]:
age=int(input("enter your age :"))
if (age >=18):
  print("You are eligible to vote !")
else :
  print("You are not eligible to vote !")

enter your age :18
You are eligible to vote !

15.authorised person only !

In [38]:
name=input("enter your name :")
if (name=='SIDHANSU' or name =='sidhansu' or name=='Sidhansu'):
  print("You are authorised!")
else :
  print("You are not authorised !")

enter your name :sidhansu
You are authorised!

16.print in new line !

In [41]:
print ("hello world\nhow its going on ?")

hello world
how its going on ?

17.fahrenheit to celsius!

In [44]:
f=float(input("enter the temperature in fahrenheit:"))
c=(f-32)/1.8
print("temperature in clsius:",c)

enter the temperature in fahrenheit:179
temperature in clsius: 81.66666666666667

18.celsius to fahrenheit!

In [48]:
c=float(input("enter the temperature in celsius:"))
f=(c*1.8)+32
print("temperature in fahrenheit:",f)

enter the temperature in celsius:57
temperature in fahrenheit: 134.60000000000002

19.check if numbers are perfectly divisible !

In [51]:
a=float(input("enter the 1st nunber:"))
b=float(input("enter the 2nd nunber:"))
if (a%b==0):
  print ("Both are perfectly divisible !")
else :
  print ("Both are not perfectly divisinle !")

enter the 1st nunber:10
enter the 2nd nunber:2
Both are perfectly divisible !

20.for loop

In [52]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry